body {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
	display: inline-block;
	width: 100%;
	height: 710px;
}

nav {
	display: inline-block;
	width: 100%;
	position: relative;
    bottom: 352px;
    z-index: 100;
    background-color: #A6D2DB;
}

nav form {
	display: inline;
	margin-left: 135px;
	width: 30px;
    height: 17px;
    position: relative;
    top: 1px;
}

nav .fa {
	color: black;
}

nav h1 {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
}

nav ul {
	display: inline-block;
	float: right;
}

nav ul li {
	display: inline-block;
	padding: 0 30px;
	font-weight: bold;
	font-size: 18px;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	background-color: black;
	border-radius: 6px;
	color: white;
}

.top {
	margin: 0;
	height: 350px;
	width: 100%;
	text-align: center;
	background-color: #A6D2DB;
}

.top h2 {
	display: inline-block;
	margin: 0;
	padding: 0 50px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
	width: 230px;
	height: 100px;
}

.top img {
	display: inline-block;
	position: relative;
    top: 100px;
    padding: 7px 5px;
	width: 300px;
	height: 200px;
}

.bottom {
	position: relative;
	bottom: 50px;
	padding: 20px 0;
	text-align: center;
}

.devices {
	display: inline-block;
	text-align: center;
	padding: 0 105px;
}

.lightbulb {
	display: inline-block;
	text-align: center;
	padding: 0 105px;
}

.webpage {
	display: inline-block;
	text-align: center;
	padding: 0 105px;
}

.bottom p {
	width: 170px;
}

.work {
	text-align: center;
	width: 100%;
	height: 652px;
	padding: 12px 0 60px 0;
	background-color: #99D2A5;
}

.work h2 {
	font-weight: bold;
	font-size: 35px;
	margin: 30px 0 15px 0;
	color: white;
}

.work p {
	display: inline;
	font-size: 14px;
	font-weight: lighter;
	line-height: 1.5px;
	margin: 5px 0;
}

.tabs {
	margin: 15px 0;
}

.tabs ul {
	margin: 40px 60px;
	padding: 15px 0;
}

.tabs ul li {
	display: inline-block;
	margin: 0 20px;
}

.work ul li:first-child {
	background-color: white;
	border: 1px solid white;
	border-radius: 3px;
}

.tabs ul li a {
	display: inline-block;
	text-decoration: none;
	color: white
	font-weight: bold;
	font-size: 20px;
}

.work a:first-child {
	color: gray;
}

.tabs ul li a:hover {
	border: 1px solid white;
	border-radius: 6px;
}

.pix {
	margin: 25px
}

.work button {
	background-color: #FEFAF7;
	border: 1px solid #FEFAF7;
	padding: 12px;
	border-radius: 4px;
}

.work button a {
	text-decoration:none;
	font-size: 10px;
	font-weight:lighter;
	color: black;

}

.screens {
	text-align: center;
	padding: 2px 0;
	height: 712px;
	background-color: #F0F0F0;
}

.upper{
	margin: 5px 0 5px 240px;
	padding-top: 105px;
}

.upper img {
	display: inline-block;
	position: relative;
    bottom: 46px;
}

.upper div {
	display: inline-block;
	padding: 0 31px;
	text-align: left;
}

/*.screens {
	background-color: #F0F0F0;*/
}

.screens h3 {
	display: inline-block;
	margin: 25px 0 15px 0;
    font-size: 25px;
}

.screens p {
	width: 70%;
}

.upper button {
	padding: 10px;
    border: 1px solid #9AD3A5;
    border-radius: 5px;
    background-color: #9AD3A5;
    margin-bottom: 10px;
}

.upper button a {
	text-decoration: none;
    color: white;
    font-weight: lighter;
}

.screens hr {
	border: 1px solid black;
	width: 70%;
	position: relative;
    top: 50px;
}

.lower {
	padding-top: 105px;
}

.lower div {
	display: inline-block;
	width: 41%;
	padding: 0 31px;
	text-align: left;
}

.lower p {
	width: 100%;
}

.lower button {
	padding: 10px;
    border: 1px solid #A0D3D9;
    border-radius: 5px;
    background-color: #A0D3D9;
    margin-bottom: 10px;
}

.lower button a {
	text-decoration: none;
    color: white;
    font-weight: lighter;
}

.lower img {
	display: inline-block;
	position: relative;
    bottom: 46px;
	margin-right: 100px;
}

.team {
	text-align: center;
	width: 100%;
	height: 700px;
	padding: 12px 0;
	background-color: #E1B6C7;
}
.wrap {
	padding: 0 80px;
    margin: 0 180px;
    line-height: 1.5;
}

.team h2 {
	font-weight: bold;
	font-size: 35px;
	margin: 30px 0 15px 0;
	color: white;
}

.team p {
	display: inline;
	font-size: 14px;
	font-weight: lighter;
	line-height: 1.5px;
}

.leaders {
	margin: 50px 0;
	height: 515px;
}

.leaders img {
	display: inline-block;
	text-align: center;
}

.leaders div {
	display: inline-block;
	width: 14%;
	padding: 0 15px;
}

#white form {
	margin: 5px 0;
}


#white {
	width: 83%;
    position: relative;
    bottom: 4px;
	background-color: white;
}

#white .fa {
	display: inline-block;
	color: #92d9e4;
}

#white a {
	text-decoration: none;
	padding: 0 4px;
}

.posts {
	text-align: center;
	height: 710px;
}

.special {
	width: 58%;
    display: inline-block;
    line-height: 1.5;
    padding-top: 45px;
}

.media {
	padding-top: 100px;
}

.media img {
	position: relative;
    right: 12px;
}

.media div {
	display: inline-block;
    width: 20%;
}

.media, #white {
	text-align: center;
}

footer {
	height: 710px;
	background-color: #3C3C3C;
}

footer ,.wrap {
	text-align: center;
	color: white;
	padding-top: 30px;
	padding-bottom: 60px;
}

footer form {
	height: 30px;
}

footer input {
	width: 42%;
    height: 25px;
}

footer textarea {
	width: 42%;
}

footer button {
	position: relative;
	top: 100px;
	padding: 10px;
    border: 1px solid #A0D3D9;
    border-radius: 5px;
    background-color: #A0D3D9;
    margin-bottom: 10px;
}

footer button a {
	text-decoration: none;
    color: #3C3C3C;
    font-weight: lighter;
}

#copyright {
	position: relative;
    top: 150px;
}

#copyright hr {
	width: 80%;
	padding-top: 50;
}

#copyright ul {
	display: inline-block;
	float: left;
    padding-left: 125px;
}

#copyright li {
	display: inline-block;
	padding: 0 10px;
}

#copyright .fa {
	font-size: 30px;
}

#copyright h5 {
	display: inline-block;
	float: right;
	font-size: 15px;
	margin: 16px 0;
    padding-right: 130px;
}

#copyright span {
	color: #ffd400;
}